$coconut: #ebecf7;
$dark-blue: #242a6d;
$blueberry: #28ade5;
$lime: #c6d32d;
$lemon: #f3ec18;
$olive: #8ead4f;
$cherry: #ef1e24;
$violet: #aeb1d7;

$logo-width-mobile: 50%;
$logo-width-tablet: 15%;
$logo-width-desktop: 15%;
$custom-font: Lucida Calligraphy;

/* Font: Algeria Regular[Font]
"https://fontsgeek.com/fonts/Algerian-Regular"
Accessed 28/12/23 */
@font-face {
  font-family: "Algeria";
  src: url("/src/assets/fonts/AlgerianRegular.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

$grey: rgba(0,0,0,0.2);
$box-shadow: 0 4px 8px 0 $grey;

@mixin respond-small {
    @media (min-width: 600px) { @content };
  }

  @mixin respond-medium {
    @media (min-width: 768px) { @content };
  }

  @mixin respond-large {
    @media (min-width: 992px) { @content };
  }

  @mixin respond-x-large {
    @media (min-width: 1200px) { @content };
  }

  .body {
    margin: 0;
    padding: 0;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .canvasjs-chart-credit {
    left: -2000px;
  }

  .mode-button {
    flex-basis: 22%;
    padding: 0.5%;
    margin: 1% 1% 0 0;
    width: fit-content;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.1rem;
  }
  
  .mode-button--white {
    background-color: var(--white);
    color: var(--red-purple);
    border: var(--dark) solid 1px;
  }
  
  .mode-button--red:hover {
    background-color: var(--mid-blue);
    color: var(--white);
    border: var(--mid-blue) solid 1px;
  }
  
  .mode-button--red {
    background-color: var(--red-purple);
    color: var(--white);
    border: var(--red-purple) solid 1px;
  }
  
  .mode-button--white:hover {
    background-color: var(--white);
    color: var(--mid-blue);
    border: var(--dark) solid 1px;
  }
  
  @media (min-width: 768px) {
    .mode-button {
      flex-basis: 10%;
      margin: 0.5% 0.5% 0 0;
      font-size: 1.1rem;
    } 
  }